@font-face {
    font-family: QanelasSoft-ExtraBold;
    src: url("fonts/QanelasSoft-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: QanelasSoft-UltraLight;
    src: url("fonts/QanelasSoft-UltraLight.otf") format("opentype");
}
@font-face {
    font-family: SourceSans;
    src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}


body {
	padding: 0;
	margin: 0;
	font-family: SourceSans;
}

.viewport {
    min-height: 100%;
}

.center {
	text-align: center;
	width: 100%;
}

.panel {
	height:100vh;
	background-color: #4b4b4b;
}
.panel-container {
	height: 100%;
	padding: 55 10 10 10;
}
.panel-content {
	background-color: white;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
}


h1 {
	font-size: 6em;
	font-family: QanelasSoft-ExtraBold;
}

h2 {
	font-family: QanelasSoft-ExtraBold;
}

h3 {
	font-size: 2em;
	font-family: QanelasSoft-ExtraBold;
}

#nav {
	position: absolute;
	width: 100%;
	height: 55px;
	font-size: 1.5em;
	background-color: #4b4b4b;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	color: white;
}
#nav a {
	color: white;
	text-decoration: none
}

#nav a:hover {
	text-decoration: underline
}

#nav.fixed {
	position: fixed;
	top: 0px;
}

.sep {
	font-size: 0.5em;
	vertical-align: middle;
}