<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<title>CoSInES</title>
	</head>
	<body>
		<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/#top">CoSInES</a>
				  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/news">
							News
							</a>
						</li> 
						<li class="nav-item">
							<a class="nav-link" href="/#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#research">Research</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#applications">Applications</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/people">People</a>
						</li>
						<!--<li class="nav-item">
							<a class=" nav-link-highlight nav-link" href="https://www.lancaster.ac.uk/newbayes/workshop/">Workshop: 19th September 2019</a>
						</li>-->
						<li class="nav-item">
							<a class=" nav-link-highlight nav-link" href="https://my.corehr.com/pls/uoxrecruit/erq_jobspec_version_4.display_form?p_company=10&p_internal_external=E&p_display_in_irish=N&p_process_type=&p_applicant_no=&p_form_profile_detail=&p_display_apply_ind=Y&p_refresh_search=Y&p_recruitment_id=144065">PDRA position applications open</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="page-container shadow">

			<a id="top"></a>

			{{ content }}

		</div>
		<div id="bottom" class="container-fluid">
			<div class="row" style="min-height: 100px">
				<div class="col-md-12 center" style="padding: 20px">
					<a href="#top"><h2><i class="fas fa-chevron-up"></i></h2></a>
				</div>
			</div>
		</div>


		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script type="text/javascript" src="scripts/nav.js"></script>
		<script type="text/javascript" src="scripts/resize.js"></script>
		<script type="text/javascript" src="scripts/expand_collapse.js"></script>
	</body>
</html>